<section id="contact" class="contact-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-title text-center pb-20">
          <h3 class="title">CONTACTEZ-NOUS</h3>
          <p class="text">
            Nous sommes toujours à la recherche d'esprits uniques qui partagent nos valeurs.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="contact-two mt-50 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.2s">
          <h4 class="contact-title">Entrer en contact </h4>
          <p class="text">
            Soyez la bienvenue pour perfectionner vos soft skills
            ou acquérir les meilleurs services et les meilleurs talents.
          </p>
          <ul class="contact-info">
            <li><i class="lni-money-location"></i> Route de Hammamet, Nabeul, Tunisie</li>
            <li><i class="lni-phone-handset"></i> +216 31 40 04 21</li>
            <li><i class="lni-envelope"></i><a target="_blank" href="mailto:contact@ImproveMe.tn">Contact@ImproveMe.tn </a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">

        <div  class="contact-form form-style-one mt-35 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.5s">

          <div class="col-lg-5" style="margin-left: 30%" *ngIf="load">
            <img src="assets/images/loading.gif" />
          </div>

          <form id="contact-form" *ngIf="!load" >
            <div class="form-input mt-15">
              <label>Nom et Prénom</label>
              <div class="input-items default">
                <input type="text" placeholder="Nom et Prenom" name="name" [(ngModel)]="contact.name" #n="ngModel" required="">
                <i class="lni-user"></i>
              </div>
              <div class="feedback-error" *ngIf="n.touched && n.errors?.required" >
                Nom et Prénom sont obligatoires.
              </div>
            </div>
            <div class="form-input mt-15">
              <label>Email</label>
              <div class="input-items default">
                <input type="email" placeholder="Email" name="email" required=""
                       [(ngModel)]="contact.email" #em="ngModel"
                       pattern="[a-zA-Z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$"

                >
                <i class="lni-envelope"></i>
              </div>
              <div class="feedback-error" *ngIf="em.touched && em.errors?.required" >
                Email est obligatoire.
              </div>
              <div class="feedback-error" *ngIf="(em.touched || em.dirty) && em.errors?.pattern">
                Veuillez respecter le format de l'email (exemple@domaine.com).
              </div>
            </div>
            <div class="form-input mt-15">
              <label>Message</label>
              <div class="input-items default ">
                <textarea placeholder="Message" name="massage" class="invalid" required=""
                          [(ngModel)]="contact.message" #m="ngModel"></textarea>
                <i class="lni-pencil-alt"></i>
              </div>
              <div class="feedback-error" *ngIf="m.touched && m.errors?.required" >
                Message est obligatoire.
              </div>
            </div>
            <p class="form-message"></p>
            <div class="form-input rounded-buttons mt-20">
              <button type="submit" class="main-btn rounded-three"
                      [hidden]="m.invalid || n.invalid || em.invalid"
                      (click)="submite()">Envoyer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
