<section id="services" class="services-area ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-title text-center pb-20">
          <h3 class="title">Nos Services</h3>
          <p class="text">ImproveMe est toujours à votre disponibilité avec ses services exceptionnels
            pour perfectionner vos soft skills et décrocher votre emploi.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-services mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.2s">
          <div class="services-icon">
            <i class="lni-rocket"></i>
          </div>
          <div class="services-content">
            <h5 class="services-title"><a href="#">Excellent système d’apprentissage</a></h5>
            <p class="text">Nos chers candidats, nous améliorons les soft skills de à travers
              les missions motivantes grâce à un système d’apprentissage motivant et un accompagnement
              par des coachs professionnels.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-services mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.4s">
          <div class="services-icon">
            <i class="lni-layers"></i>
          </div>
          <div class="services-content">
            <h5 class="services-title"><a href="#">Parcours orienté Missions</a></h5>
            <p class="text">Nous croyons en l’importance du pratique pour perfectionner
              vos soft skills. Rejoignez-nous et profitez d’accomplissement des missions offertes
              par nos entreprises partenaires. <br>
              Découvrez le milieu professionnel et décrocher votre métier de rêve.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-services mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.7s">
          <div class="services-icon">
            <i class="lni-offer"></i>
          </div>
          <div class="services-content">
            <h5 class="services-title"><a href="#">Formations performantes d’accompagnement</a></h5>
            <p class="text">On vous accompagne dans l’accomplissement des missions demandées par nos
              entreprises partenaires grâce à des formations 100 %
              orientées pour l’amélioration de vos soft skills. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="single-services mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.2s">
          <div class="services-icon">
            <i class="lni-bullhorn"></i>
          </div>
          <div class="services-content">
            <h5 class="services-title"><a href="#">Meilleurs services garantis</a></h5>
            <p class="text">Nos chères entreprises, profitez des meilleurs services accomplis
              au bon moment par nos talents qualifiés.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="single-services mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.4s">
          <div class="services-icon">
            <i class="lni-archive"></i>
          </div>
          <div class="services-content">
            <h5 class="services-title"><a href="#">Meilleurs talents garantis</a></h5>
            <p class="text">Chers entreprises partenaires, perfectionnez vos missions
              et détectez les meilleurs talents en testant nos candidats bien formés
              et bien coachés à travers les missions.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
