<section class="about-area-3 about-area-bg-3">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-last">
        <div class="image mt-50 wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0.6s">
          <img src="assets/images/services.png" alt="about">
        </div>
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="about-content mt-45 wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.6s">
          <h5 class="sub-title">STARTUP FOCUSED</h5>
          <h3 class="about-title">Designed for startup and small business</h3>
          <p class="text">By far the best fundraising experience on a mobile device, whether you’re launching, customizing, managing, or donating to a campaign.</p>
        </div>
      </div>
    </div>
  </div>
</section>
