<section id="pricing" class="pricing-area pricing-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-title text-center pb-35">
          <h3 class="title">Nos Missions</h3>
          <p class="text">
            Vous voulez être Coachés d'une manière efficace <br> et professionnelle ?
            Vous souhaitez acquérir le travail de votre rêve
            et vous distinguer sur <strong>Le Marché D'EMPLOI </strong>? <br><br>
            <strong >ImproveMe  vous offre le cadre favorable. </strong>
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7 col-sm-9" >
        <div  class="pricing-style-two mt-40 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.2s">
          <div class="pricing-icon text-center">
            <img src="assets/images/rec.jpg" alt="">
          </div>
          <div class="pricing-header text-center">
            <h5 class="sub-title">Missions De Recrutement</h5>
          </div>
          <div class="pricing-list">
            <ul>
              <li><i class="lni-check-mark-circle"></i> Emploi de rêve</li>
              <li><i class="lni-check-mark-circle"></i> Missions constructives et très enrichissantes</li>
              <li><i class="lni-check-mark-circle"></i> Accompagnement durant la mission</li>
              <li><i class="lni-check-mark-circle"></i>Communauté passionnée et ambitieuse</li>
              <li><i class="lni-check-mark-circle"></i>Encadrement professionnel </li>
              <li><i class="lni-check-mark-circle"></i>Attestations de la part de l’entreprise</li>
            </ul>
          </div>
          <div class="pricing-btn rounded-buttons text-center">
            <a class="main-btn rounded-three" routerLink="/Recrutement" >DÉCOUVRIR</a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-7 col-sm-9" >
        <div style="height: 544px" class="pricing-style-two mt-40 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.5s">
          <div class="pricing-icon text-center">
            <img src="assets/images/missions.jpg" alt="">
          </div>
          <div class="pricing-header text-center">
            <h5 class="sub-title">Mission De Formation</h5>

          </div>
          <div class="pricing-list">
            <ul>
              <li><i class="lni-check-mark-circle"></i> Missions motivantes</li>
              <li><i class="lni-check-mark-circle"></i> Coachs motivés et professionnels</li>
              <li><i class="lni-check-mark-circle"></i> Une équipe d’enfer</li>
              <li><i class="lni-check-mark-circle"></i> Meilleurs soft skills garantis</li>
              <li><i class="lni-check-mark-circle"></i> Une ambiance de partage</li>
            </ul>
          </div>
          <br>
          <br>
          <div class="pricing-btn rounded-buttons text-center">
            <a class="main-btn rounded-three" routerLink="/Formation">DÉCOUVRIR</a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-7 col-sm-9">
        <div class="pricing-style-two mt-40 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.5s">
          <div class="pricing-icon text-center">
            <img src="assets/images/demandés.jpg" alt="">
          </div>
          <div class="pricing-header text-center">
            <h5 class="sub-title">Mission De Services</h5>

          </div>
          <div class="pricing-list">
            <ul>
              <li><i class="lni-check-mark-circle"></i> rémunération de travail</li>
              <li><i class="lni-check-mark-circle"></i> Missions enrichissantesMissions enrichissantes</li>
              <li><i class="lni-check-mark-circle"></i> Travail en équipe</li>
              <li><i class="lni-check-mark-circle"></i> Assistance et suivi professionnels</li>
              <li><i class="lni-check-mark-circle"></i> Meilleurs soft skills garantis</li>
            </ul>
          </div>

          <div class="pricing-btn rounded-buttons text-center">
            <a class="main-btn rounded-three" routerLink="/Payante">DÉCOUVRIR</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
