<section class="header-area" id="header">
  <div class="navbar-area navbar-transparent" [ngClass]="{'sticky':url!=='http://localhost:4200/'}" >
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" routerLink="">
              <img src="assets/images/ImproveMe.png" alt="ImproveMe">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarEight" aria-controls="navbarEight" aria-expanded="false" aria-label="Toggle navigation">
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse sub-menu-bar" id="navbarEight">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item " [ngClass]="{'active':fragment==='home' || !fragment && ac.isActive}" >
                  <a class="page-scroll"  routerLink="" fragment="home" routerLinkActive #ac="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" >ACCUEIL</a>
                </li>
                <li class="nav-item" [ngClass]="{'active':fragment==='about'}">
                  <a class="page-scroll" routerLink="" fragment="about">À PROPOS</a>
                </li>
                <li class="nav-item" [ngClass]="{'active':fragment==='services'}">
                  <a class="page-scroll" routerLink="" fragment="services" >NOS SERVICES</a>
                </li>
                <li class="nav-item" [ngClass]="{'active':fragment==='pricing'}">
                  <a class="page-scroll"  routerLink="" fragment="pricing" >MISSIONS</a>
                </li>
                <li class="nav-item" [ngClass]="{'active':fragment==='blog'}">
                  <a class="page-scroll" routerLink="" fragment="blog" >BLOG</a>
                </li>
                <li class="nav-item" [ngClass]="{'active':fragment==='contact'}">
                  <a class="page-scroll" routerLink="" fragment="contact">CONTACTEZ-NOUS</a>
                </li>
              </ul>
            </div>
            <div class="navbar-btn mt-15 d-none d-lg-inline-block">
              <a class="menu-bar" (click)="switchSidebar()"><i class="lni-menu"></i></a>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>

</section>

<div class="sidebar-right "   [ngClass]="{'open':sidebar} ">
  <div class="sidebar-close ">
    <a class="close" (click)="switchSidebar()" ><i class="lni-close"></i></a>
  </div>
  <div class="sidebar-content">
    <div class="sidebar-logo text-center " *ngIf="!authenticated" >
      <a routerLink="/"><img src="assets/images/ImproveMe.png" alt="ImproveMe.png"></a>

    </div>
    <div class="sidebar-logo text-center align-items-center justify-content-center" *ngIf="authenticated" >
      <a ><img src="assets/images/author-1.jpg" alt="ImproveMe.png"></a>
     <br> <br> <span class="NameUser">{{ name }}</span>
    </div>
    <div class="sidebar-menu">
      <ul *ngIf="!authenticated">
        <li><a href="#" (click)="login()">Se connecter</a></li>
        <li><a href="#" (click)="register()">Inscription</a></li>
      </ul>
      <ul *ngIf="authenticated">
        <li><a href="http://localhost:4202">Espace personnel</a></li>
        <li><a href="#" (click)="logout()">Paramètres</a></li>
        <li><a href="#" (click)="logout()">Se déconnecter </a></li>
      </ul>
    </div>

    <div  class="sidebar-social d-flex align-items-center justify-content-center">
      <span>Abonnez-vous</span>
      <ul>
        <li><a href="#"><i class="lni-twitter-original"></i></a></li>
        <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
      </ul>

    </div>

  </div>
</div>
<div class="overlay-right"></div>
