<section id="about" class="about-area-3">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="image mt-50 wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.6s" data-wow-offset="50">
          <img src="assets/images/services.png" alt="about">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-content mt-45 wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0.6s" data-wow-offset="50">
          <h5 class="sub-title">HIGHLY OPTIMIZED</h5>
          <h3 class="about-title">Optimized for multipurpose use</h3>
          <p class="text">By far the best fundraising experience on a mobile device, whether you’re launching, customizing, managing, or donating to a campaign.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<app-about></app-about>

<app-service></app-service>


<app-mission></app-mission>

<section id="call-action" class="call-action-area call-action-3">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="call-action-content mt-45">
          <h3 class="action-title">Get latest updates!</h3>
          <p class="text">We never spam your email</p>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="call-action-form mt-50">
          <form action="#">
            <input type="text" placeholder="Enter your email">
            <div class="action-btn rounded-buttons">
              <button class="main-btn rounded-two">subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="testimonial" class="testimonial-area testimonial-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-title text-center pb-20">
          <h3 class="title">Testimonial</h3>
          <p class="text">Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row testimonial-active-2">
          <div class="col-lg-4">
            <div class="single-testimonial mt-30 mb-30 text-center">
              <div class="testimonial-image">
                <img src="assets/images/author-3.jpg" alt="Author">
              </div>
              <div class="testimonial-content">
                <p class="text">Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed! Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!</p>
                <h6 class="author-name">Isabela Moreira</h6>
                <span class="sub-title">CEO, GrayGrids</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="single-testimonial mt-30 mb-30 text-center">
              <div class="testimonial-image">
                <img src="assets/images/author-1.jpg" alt="Author">
              </div>
              <div class="testimonial-content">
                <p class="text">Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed! Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!</p>
                <h6 class="author-name">Fiona</h6>
                <span class="sub-title">Lead Designer, UIdeck</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="single-testimonial mt-30 mb-30 text-center">
              <div class="testimonial-image">
                <img src="assets/images/author-2.jpg" alt="Author">
              </div>
              <div class="testimonial-content">
                <p class="text">Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed! Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!</p>
                <h6 class="author-name">Elon Musk</h6>
                <span class="sub-title">CEO, SpaceX</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="client" class="client-logo-area client-logo-2">
  <div class="container">
    <div class="row client-active">
      <div class="col-lg-3">
        <div class="single-client text-center">
          <img src="assets/images/client_logo_01.png" alt="Logo">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="single-client text-center">
          <img src="assets/images/client_logo_02.png" alt="Logo">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="single-client text-center">
          <img src="assets/images/client_logo_03.png" alt="Logo">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="single-client text-center">
          <img src="assets/images/client_logo_04.png" alt="Logo">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="single-client text-center">
          <img src="assets/images/client_logo_05.png" alt="Logo">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="single-client text-center">
          <img src="assets/images/client_logo_06.png" alt="Logo">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="single-client text-center">
          <img src="assets/images/client_logo_07.png" alt="Logo">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="single-client text-center">
          <img src="assets/images/client_logo_08.png" alt="Logo">
        </div>
      </div>
    </div>
  </div>
</section>


<app-blog></app-blog>

<app-contact></app-contact>
