<!--<div class="preloader">
  <div class="loader">
    <div class="ytp-spinner">
      <div class="ytp-spinner-container">
        <div class="ytp-spinner-rotator">
          <div class="ytp-spinner-left">
            <div class="ytp-spinner-circle"></div>
          </div>
          <div class="ytp-spinner-right">
            <div class="ytp-spinner-circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<!-- start header -->
<app-header></app-header>
<!-- end header -->
<router-outlet></router-outlet>
<!-- start footer -->
<app-footer></app-footer>
<!-- end footer -->

