<section id="blog" class="blog-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-title text-center pb-20">
          <h3 class="title">Our Blog</h3>
          <p class="text">Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-7 col-sm-9">
        <div class="single-blog mt-50 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.2s">
          <div class="blog-image">
            <img src="assets/images/services.png" alt="Blog">
          </div>
          <div class="blog-content">
            <h4 class="blog-title"><a href="#">Budget-Friendly Design Ideas to Transform Your Office</a></h4>
            <span><i class="lni-calendar"></i> Mar 23, 2022</span>
            <span><i class="lni-comment-alt"></i> 24Commnet</span>
            <p class="text">Create a workspace your team will love with these money-saving interior design tips. Learn how People and Culture leaders… align their workspace and company values.</p>
            <a class="more" href="#">READ MORE</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-7 col-sm-9">
        <div class="single-blog mt-50 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.5s">
          <div class="blog-image">
            <img src="assets/images/services.png" alt="Blog">
          </div>
          <div class="blog-content">
            <h4 class="blog-title"><a href="#">Budget-Friendly Design Ideas to Transform Your Office</a></h4>
            <span><i class="lni-calendar"></i> Mar 23, 2022</span>
            <span><i class="lni-comment-alt"></i> 24Commnet</span>
            <p class="text">Create a workspace your team will love with these money-saving interior design tips. Learn how People and Culture leaders… align their workspace and company values.</p>
            <a class="more" href="#">READ MORE</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-7 col-sm-9">
        <div class="single-blog mt-50 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.8s">
          <div class="blog-image">
            <img src="assets/images/services.png" alt="Blog">
          </div>
          <div class="blog-content">
            <h4 class="blog-title"><a href="#">Budget-Friendly Design Ideas to Transform Your Office</a></h4>
            <span><i class="lni-calendar"></i> Mar 23, 2022</span>
            <span><i class="lni-comment-alt"></i> 24Commnet</span>
            <p class="text">Create a workspace your team will love with these money-saving interior design tips. Learn how People and Culture leaders… align their workspace and company values.</p>
            <a class="more" href="#">READ MORE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
